
#header h1 {
    font-size: 250%;
}

#header h2 {
    font-size: 125%;
}

#header {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
    text-align: center;
    font: bold;
    color: #ffffff;
    background-color: #4f3f5f;
    
}

#leftMenu {
    position: absolute;
    float: left;
    width: 25%;
    top: 0;
    bottom: 0;
    padding: 0.5em;
    background-color: #cfbfdf;
}

#resultOutput {
    overflow: hidden;
    overflow-y: scroll;
    float: right;
    width: calc(75% - 2em);
    height: 100%;
    padding: 0.5em;
}

#content {
    position: relative;
}

* {
    font-family: 'Yu Gothic';
    margin: 0;
}
